@page "/add"

@using Artsoft.Web.Components

@inherits ArtsoftComponentBase

<PageTitle>Adding an employee</PageTitle>


@if (!Initialized)
{
    <Loader />
}
else
{
    <h4 class="text-center">Adding an employee</h4>

   <EmployeeModifyForm EmployeeModifyInput=@(EmployeeModifyInput) ModifyActionAsync="async () => await AddEmployeeAsync()"/>
}